.loading {
    font-size: 2rem;
}

.title {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1.4rem;
    color: #0E1C4F
}

.profileinfo {
    display: flex;
    float: left;
    flex-direction: row;
}

.maininfo {
    text-align: center;
}

.imagecontainer {
    text-align: right;
}

.body {
    font-size: 1.2rem;
}

.engagement {
    gap: 3px;
    margin-top: 3px;
}