.loading {
    display: flex;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    justify-content: center;
}

.title {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1.8rem;
    color: #0E1C4F;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    max-width: 100%;
}

.profileinfo {
    display: flex;
    float: left;
    flex-direction: row;
}

.owner {
    font-size: 1.5rem;
    margin-right: 10px;
}

.createdon {
    font-size: 1rem;
}

.maininfo {
    text-align: center;
}

.subjectbadge {
    color: #fff;
}

.imagecontainer {
    text-align: right;
}

.link {
    margin-bottom: 3px;
    color: #336659;
    font-weight: bold;
}

.body {
    font-size: 1.2rem;
}

.engagement {
    gap: 3px;
    margin-top: 3px;
}