.navbar{
    background-color: #f3efe8;
    border-bottom: 1px solid black;
}

.brand {
    margin-right: 5px;
}

.maintitle {
    font-family: 'Special Elite', sans-serif;
    font-size: 1.7rem;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 7px;
    color: black;
}

.maintitle:hover{
    font-weight: bold;
}

.upload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    size: 300%;
    margin-top: 10px;
    color: black;
}

.upload:hover{
    font-weight: bold;
}

.tagline {
    margin-left: 10px;

}

a {
    font-size: 1.4rem;
    margin-left: 20px;
    color: inherit;
}
