.navbar {
    background-color: #f3efe8;
    border-bottom: 1px solid black;
}

.togglebutton {
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    border: none !important;
}

.toggleButton:focus {
    box-shadow: none !important;
}

.brand {
    margin-right: 5px;
}

.maintitle {
    font-family: 'Special Elite', sans-serif;
    font-size: 1.7rem;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 7px;
    color: black;
}

.maintitle:hover{
    font-weight: bold;
}

.upload:hover{
    font-weight: bold;
}

a {
    font-size: 1.4rem;
    margin-left: 20px;
    color: inherit;
}
