.App {
  background-color: #f3efe8;
  min-height: 100vh;
  text-decoration: none;
  background-image: url(../src/assets/slant-background.webp);
}

.Main {
  padding-top: 105px;
}

.Image {
  max-height: 20vh;
  max-width: 20vh;
  max-width: 50%;
  object-fit: contain;
  display: flex;
  float: right;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  border: 1px #fff;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #333;
}

input[type="file"] {
  display: none;
}

figure {
  text-align: center;
  display: inline-block;
}